{% extends 'layouts/app.twig' %}

{% block title %}Sign In{% endblock %}


{% block content %}

  <form action="{{ path_for('auth.signin') }}" method="POST">
    Email <br />
    <input type="email" name="email" value="{{ old.email }}"/>
    <br />
    Password <br />
    <input type="password" name="password" />
    <br />
    <input type="submit" value="Sign In">

    {{ csrf.field | raw }}
  </form>
{% endblock %}
