{% extends 'layouts/app.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Start Page</h1>
  <p>Welcome to <em>todo-app</em>! </p>
  <p>No account? Create one <a href="{{ path_for('auth.signup') }}">here</a>.</p>  
{% endblock %}
