{% extends 'layouts/app.twig' %}

{% block title %}New User{% endblock %}


{% block content %}
  {% if flash.getMessage('error').0 %}
    <strong>
      {{ flash.getMessage('error').0 }}
    </strong>
  {% endif %}
  
  <h3>Register new user</h3>
  <form action="{{ path_for('user.create') }}" method="POST">
    Username <br />
    <input type="text" name="username" />
    <br />
    Email <br />
    <input type="text" name="email" />
    <br />
    Password <br />
    <input type="password" name="password" />
    <br />
    <input type="submit" value="Register">

  </form>
{% endblock %}
