<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'partials/navigation.twig' %}
    {% include 'partials/flash.twig' %}
    
    {% block content %}{% endblock %}
    
  </body>
</html>
